fastapi
uvicorn[standard]
websockets
aiogram
pydantic-settings
loguru
python-multipart
aiohttp
apscheduler==3.10.4
aiofiles
sqlalchemy
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
aiohttp-socks
pysocks
pandas
openpyxl
xlrd
