fastapi
uvicorn[standard]
websockets
aiogram
pydantic-settings
loguru
python-multipart
aiohttp
apscheduler==3.10.4
aiofiles
sqlalchemy
aiosqlite
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
aiohttp-socks
pysocks
pandas
openpyxl
xlrd
p115client==0.0.9.4
python-asynctools==0.1.4
python-iterutils==0.3.0
python-concurrenttools==0.1.4
iterdir==0.0.10
pypinyin