fastapi
uvicorn[standard]
websockets
aiogram
pydantic-settings
loguru
python-multipart
aiohttp
apscheduler==3.10.4
aiofiles
sqlalchemy
aiosqlite
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
aiohttp-socks
pysocks
pandas
openpyxl
xlrd
p115client==0.0.8.6
p115oss==0.1.0.1